@page "/"
@inject IJSRuntime JSRuntime;
@using BlazorRichEdit.Data
<DxPopup HeaderText="Header"
         @bind-Visible="@PopupVisible">
    <Content>
        <DxListBox Data="@DataSource"
                   TextFieldName="@nameof(Macro.Name)"
                   @bind-Values="@Values"
                   style="height: 232px;">
        </DxListBox>
    </Content>
</DxPopup>
<div id='rich-container' style="width: 100%; height: 900px"></div>
@code {
}